@import "tailwindcss";

@theme {
  --color-primary: #0984e3;
  --color-primary-hover: #0873c4;
  --color-primary-light: #d6ecff;
  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;
  --color-background: #f8fafc;
  --color-card: #ffffff;
  --color-text-primary: #0f172a;
  --color-text-secondary: #64748b;
  --font-inter: "Inter", sans-serif;
  --font-sans: "Inter", sans-serif;
}

:root {
  /* Ionic colors */
  --ion-color-primary: var(--color-primary);
  --ion-color-primary-rgb: 9, 132, 227;
  --ion-color-primary-shade: var(--color-primary-hover);
  --ion-color-primary-tint: var(--color-primary-light);

  --ion-color-success: var(--color-success);
  --ion-color-success-rgb: 34, 197, 94;

  --ion-color-warning: var(--color-warning);
  --ion-color-warning-rgb: 245, 158, 11;

  --ion-color-danger: var(--color-danger);
  --ion-color-danger-rgb: 239, 68, 68;

  --ion-background-color: var(--color-background);
  --ion-text-color: var(--color-text-primary);
  
  --ion-font-family: var(--font-inter);
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-background);
  color: var(--color-text-primary);
}
